.f-20 {
  font-size: 20px !important;
}
.w-35 {
  width: 35% !important;
}
.pd-0 {
  padding: 0 !important;
}
.mg-0 {
  margin: 0 !important;
}
.v-hidden {
  opacity: 0;
  transition: opacity 0.2s 0s cubic-bezier(0, 0, 0.2, 1), visibility 0s 0.2s;
}
.v-show {
  opacity: 1 !important;
  transition: opacity 0.2s 0.1s cubic-bezier(0.4, 0, 1, 1);
  transition-delay: 500ms;
}
.d-inline {
  display: inline-block !important;
}
.d-none {
  display: none !important;
}
.text-capitalize {
  text-transform: capitalize;
}
.register-label {
  color: rgba(48, 48, 48, 0.7);
}
.styles_overlay__CLSq- {
  z-index: 9999;
}
.text-bold {
  font-weight: bold !important;
}

/* Login card*/
.login-card .logo-single {
  margin-bottom: 0px !important;
}
.login-card {
  display: flex;
  justify-content: center;
}
.login-container {
  padding: 15px;
  font-family: "Avenir Next W01", "Proxima Nova W01", Rubik, -apple-system, system-ui,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: #334152;
}
.login-footer {
  font-size: 0.63rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 1px;
}

.card {
  border-radius: 10px !important;
}

/* Category Item */
.icon-category:hover {
  cursor: pointer;
  text-decoration: underline;
}
.icon-category {
  margin: 0 2px;
}

/* Facebook Icon */
.fb-login {
  float: right;
  width: 100%;
  padding: 12px 10px 10px 0;
  background-color: #fff;
  border: none;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  font-weight: 500 !important;
  border: 1px solid transparent;
  font-family: Roboto, sans-serif;
}
.fb-login i {
  padding: 0 5px 0 10px;
  color: #365899;
  margin-right: 10px;
  font-size: 14px;
}

/* Facebook Icon */
.gg-login {
  float: left;
  width: 100%;
  padding: 12px 10px 14px 0;
  background-color: #fff;
  border: none;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  justify-content: center;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  font-weight: 500 !important;
  border: 1px solid transparent;
  font-family: Roboto, sans-serif;
}
.gg-login i {
  padding: 0 5px 0 10px;
  color: #365899;
  margin-right: 10px;
  font-size: 14px;
}


/* .list-thumbnail {
  max-height: 200px !important;
  height: auto !important;
} */

/* Switch Button */
.switch-label {
  font-size: 20px;
}
/* Register User */
.register-sologan {
  justify-content: end;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Icon Quote */
.quote-container {
  cursor: pointer;
  position: relative;
}
.quote-container em::before {
  padding-top: 2px;
  content: "";
  position: absolute;
  background-color: #f1c40f;
  z-index: 1;
  width: 0%;
  height: 2px;
  bottom: 0;
  visibility: hidden;
  transition: 0.5s;
}
.quote-container:hover .quote-icon {
  color: #f1c40f;
}
.quote-container:hover em::before {
  width: 41%;
  visibility: visible;
}

/* Task Info */
.task-info-container {
  width: 100% !important;
}
.photo-icon {
  border-radius: 50% !important;
  padding: 0.6rem 0.7rem 0.4rem 0.8rem !important;
  border: none !important;
}
.photo-icon:hover {
  color: #fff !important;
}

/* .dropdown-menu {
  transform: translate3d(-165px, 0px, 0px) !important;
} */

/* Albums */
.album-container {
  width: 100%;
  height: 35vh;
  padding-right: 10px;
  margin: 15px 0;
}
.album-content {
  background-color: transparent;
  border: 1px solid #dadce0;
  position: relative;
  background-size: cover;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: 0;
  padding-bottom: 80%;
  transition: all 0.135s cubic-bezier(0, 0, 0.2, 1);
  width: 100%;
  cursor: pointer;
}

.album-title {
  position: absolute;
  width: 100%;
  height: 64px;
}
.album-title-content {
  color: #3c4043;
  overflow: hidden;
  padding-top: 8px;
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
  letter-spacing: 0.01785714em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 40px;
}
.album-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -moz-box-align: center;
  box-align: center;
  align-items: center;
  box-pack: center;
  justify-content: center;
}
.album-thumnail {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 8px;
  border: inherit;
  background-color: transparent;
}
.album-thumnail img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  padding: 0px;
  transition: 0.5s;
}
.album-thumnail:hover img {
  padding: 10px;
  transition: 0.5s;
}
.more-album-icon:hover {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

@media only screen and (max-width: 600px) {
  .album-container {
    height: 38vh;
    padding-right: 5px;
    margin: 0;
  }
}
@media only screen and (max-width: 785px) {
  .album-container {
    height: 40vh;
  }
}
@media only screen and (min-width: 786px) and (max-width: 991px) {
  .album-container {
    height: 45vh;
    margin: 30px 0;
  }
}
/*Image item*/
.image-item {
  background-color: #d0ddf2;
  opacity: 0.4;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  cursor: pointer;
}
.image-container .image-icon {
  position: absolute;
  margin: 10px;
  cursor: pointer;
  visibility: hidden;
  fill: #e2e2e2;
}
.image-container:hover .image-item {
  z-index: 1;
}
.image-container:hover .image-icon {
  z-index: 2;
  visibility: visible;
}
.image-container .image-icon:hover {
  fill: #fff;
}
/*Image Selected*/
.image-selected img {
  padding: 0 15px;
  transition: 0.5s;
}
.image-unselected img {
  padding: 0;
  transition: 0.5s;
}
.image-selected .image-icon {
  fill: #1a73e8;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  z-index: 2;
  visibility: visible !important;
}
.image-selected .image-icon:hover {
  fill: #1a73e8;
}

/*Light box*/
.ReactModal__Overlay {
  z-index: 1050 !important;
}
/* Modal Album*/
.modal-album {
  cursor: pointer;
  padding: 10px 0;
}
.modal-album:hover {
  background-color: #d8e2f7;
}
.modal-album-icon-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.modal-album-icon-container i {
  font-size: 1.5rem;
}
.modal-album-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.modal-album-info {
  color: #5f6368;
  letter-spacing: 0.01428571em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}
.modal-album-name {
  color: #3c4043;
  max-width: 276px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.00625em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

/*Light Box Icon*/
.ligh-box-icon {
  border-radius: 50% !important;
  padding: 0.6rem 0.7rem 0.4rem 0.8rem !important;
  border: none !important;
  background-color: transparent !important;
}
.ligh-box-icon i {
  color: #b8b8b8;
}
.ligh-box-icon:hover i {
  color: #fff;
}
/*popover*/
.popover {
  max-width: 500px !important;
}

/* Customize  */
.addmore-customize:hover {
  cursor: pointer;
  color: #922c88 !important;
}

.search {
  width: auto !important;
}

@media screen and (max-width: 768px) {
  .search {
    display: none;
  }
}

.align-items-center {
  align-items: center;
}

.font-bold {
  font-weight: 700;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

